* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

:root {
    --black: #000;
    --white: #fff;
    --green: rgb(21, 89, 65);
    --light-green: rgb(28, 121, 89);
}

/* Navigation Bar */

.user-accounts {
    display: flex;
    align-items: center;
    background-color: var(--green);
    margin: auto;
    padding: 0 5%;
    height: 60px;
}

.user-accounts ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
    margin: 0;
    width: 100%;
}

.user-accounts li {
    list-style: none;
    text-align: center;
    color: var(--white);
    margin: 0 10px;
}

.user-accounts li:nth-child(3) {
    margin-left: auto;
}

/* Navigation Lists */

.user-accounts a {
    text-decoration: none;
    color: white;
}

.login-logout {
    display: flex;
    justify-content: center;
    background-color: var(--white);
    border-radius: 15px;
}

.login-logout a {
    text-decoration: none;
    color: var(--black);
    padding: 2px 20px;
}

/* Home.php */

/* Insert Button, Back Button and Edit/Delete Button */

.insert a, .back a, .edit a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    padding: 10px;
    background-color: var(--green);
}

.insert a:hover,
.back a:hover,
.edit a:hover {
    color: var(--black);
    background-color: var(--green);
}

/* Table */

.table-section {
    width: 100%;
    padding: 0 5%;
    margin-top: 60px;
}

table {
    margin: auto;
    width: inherit;
}

table caption {
    font-size: 24px;
    margin: 1em 0;
}

thead tr {
    text-align: center;
} 

th {
    padding: 1em;
    background-color: var(--green);
    color: var(--white);
    font-weight: 600;
}

th:first-of-type {
    border-radius: 1em 0 0 0;
}

th:last-of-type {
    border-radius: 0 1em 0 0;
}

td {
    text-align: center;
    padding: 0.5em 0;
    border: 1px solid var(--black);
}

/* Insert.php */

.insert-section {
    width: 100%;
    padding: 0 5%;
    margin-top: 60px;
}

form[class="insert-form"] {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 500px;
    min-width: 300px;
    margin: 1em auto;
    padding: 50px;
    background-color: var(--green);
    color: white;
    border-radius: 10px;
}

form[class="insert-form"] h3 {
    text-align: center;
}

label {
    font-size: 1em;
}

label,
input {
    margin: 10px 0;
    border: 0;
}

input[type="submit"] {
    padding: 0.5em 1em;
    background-color: var(--white);
    color: var(--black);
    max-width: 250px;
    margin: 1em auto;
    border: 0;
    cursor: pointer;
}

.view a {
    text-decoration: none;
    color: var(--green);
}

.view a:hover {
    color: var(--black);
}

/* Login Form */

form[class="login-form"] {
    background-color: var(--green);
    border-radius: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2em;
    max-width: 500px;
    min-width: 300px;
    margin: 2em auto;
    color: var(--white);
}

form[class="login-form"] h3 {
    text-align: center;
}

/* Details.php */

.details-section {
    width: 100%;
    padding: 0 5%;
    margin-top: 60px;
}

/* View Student Info */

.student-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 500px;
    min-width: 300px;
    margin: 1em auto;
    padding: 2em;
    background-color: var(--green);
    border-radius: 10px;
    box-shadow: 2px 2px 5px var(--black);
}

.student-info h3 {
    text-align: center;
    margin-bottom: 1em;
    color: var(--white);
    padding: 0.5em;
}

.student-info p {
    margin: 1em 0;
    background-color: var(--white);
    color: var(--black);
    padding: 0.5em 1em;
    border-radius: 1em;
}

.student-info span.info {
    color: var(--black);
    font-weight: 600;
}

/* Edit.php */

.edit-section {
    width: 100%;
    padding: 0 5%;
    margin-top: 60px;
}

/* Edit Student Info */

form[class="edit-student"] {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 500px;
    min-width: 300px;
    margin: 1em auto;
    padding: 2em;
    background-color: var(--green);
    color: var(--white);
    border-radius: 1em;
}

form[class="edit-student"] h3 {
    text-align: center;
    margin: 1em 0;
}

input[type="text"] {
    padding: 5px;
    border: 0;
}

.edit-info {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    margin: 5px 5px;
    width: 120px;
    background-color: var(--white);
    color: var(--black);
    text-decoration: none;
    border: 0;
}

button[class="delete"] {
    color: var(--black);
    border: 0;
    background-color: transparent;
}

.edit-info:hover {
    background-color: var(--light-green);
    color: var(--white);
}

button[class="delete"]:hover {
    color: white;
}

/* Search */

form[class="search"] {
    margin: 1em 0;
}

input[id="search"] {
    padding: 4px;
    border: 2px solid black;
}

button[class="search-button"] {
    padding: 5px;
    border: 0;
    background-color: var(--green);
    color: var(--white);
}