* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

/* Header */

.userAccounts {
    background-color: rgb(38, 54, 83);
    padding: 1em 2em;
    margin: auto;
    height: 75px;
}

.userAccounts ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
}

.userAccounts li {
    list-style: none;
    text-align: center;
    color: white;
}

.userAccounts a {
    background-color: rgb(12, 24, 79);
}

.greetings {
    text-align: center;
    color: white;
    list-style: none;
    margin-left: auto;
}

.logInOut {
    display: flex;
    justify-content: center;
    padding: 0.5em;
}

.logInOut a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    padding: 0.5em;
    background-color: rgb(23, 23, 78);
}

.logInOut a:hover {
    background-color: rgb(112, 120, 169);
}

/* */


.insert {
    padding: 0.5em;
    margin-top: 1em;
}

.insert a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    padding: 0.5em;
    background-color: rgb(23, 23, 78);
}

.insert a:hover {
    color: rgb(5, 4, 35);
    background-color: rgb(112, 120, 169);
}

.back {
    background-color: rgb(38, 54, 83);
}

.back a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    padding: 0.5em;
    background-color: rgb(23, 23, 78);
}

/* Table */

.tableSection {
    width: 100%;
    padding: 0 5%;
    margin-top: 75px;
}

table {
    background-color: rgb(237, 237, 255);
    margin: auto;
    width: inherit;
}

table caption {
    font-size: 2em;
    margin: 1em 0;
}

th {
    padding: 1em;
    background-color: rgb(21, 21, 99);
    color: white;
    font-weight: 600;
}

th:first-of-type {
    border-radius: 1em 0 0 0;
}

th:last-of-type {
    border-radius: 0 1em 0 0;
}

td {
    text-align: center;
    padding: 0.5em 0;
    border: 1px solid black;
}

/* Insert Form */

form[class="insertForm"] {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 500px;
    min-width: 300px;
    margin: 1em auto;
    padding: 2em;
    background-color: rgb(198, 215, 235);
    border-radius: 1em;
}

label {
    font-size: 1em;
}

label,
input {
    margin: 0.25em 0;
}

input[type="submit"] {
    padding: 0.5em 1em;
    background-color: rgb(25, 56, 87);
    color: white;
    max-width: 250px;
    margin: 1em auto;
    font-weight: 800;
    border: 0;
    cursor: pointer;
}

button[type="submit"] {
    padding: 0.5em 1em;
    background-color: rgb(25, 56, 87);
    color: white;
    max-width: 250px;
    margin: 1em auto;
    border: 0;
    cursor: pointer;
}

.view a {
    text-decoration: none;
    color: rgb(48, 102, 189);
}

.view a:hover {
    color: black;
}

/* Login Form */

form[class="loginForm"] {
    background-color: rgb(198, 215, 235);
    border-radius: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2em;
    max-width: 500px;
    min-width: 300px;
    margin: 2em auto;
}

form[class="loginForm"] h1 {
    margin: 0 auto 1em;
}

/* View Student Info */

.studentInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 500px;
    min-width: 300px;
    margin: 1em auto;
    padding: 2em;
    background-color: rgb(198, 215, 235);
    border-radius: 1em;

}

.studentInfo h2 {
    text-align: center;
    margin-bottom: 1em;
    background-color: rgb(34, 64, 99);
    color: white;
    padding: 0.5em;
    border-radius: 1em;
}

.studentInfo h3 {
    margin: 1em 0;
    background-color: rgb(34, 64, 99);
    color: white;
    padding: 0.5em 1em;
    border-radius: 1em;
}

.studentInfo span {
    color: rgb(166, 212, 255);
}

/* Edit Student Info */

form[class="editStudent"] {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 500px;
    min-width: 300px;
    margin: 1em auto;
    padding: 2em;
    background-color: rgb(198, 215, 235);
    border-radius: 1em;
}

form[class="editStudent"] h2 {
    text-align: center;
    margin: 1em 0;
}

/* Search */

form[class="search"] {
    margin: 1em auto;
    padding: 1em;
}

.backEdit {
    padding: 0.5em;
    margin-top: 1em;
    display: flex;
    flex-direction: column;
}

.buttons {
    text-decoration: none;
    color: white;
    padding: 0.5em;
    background-color: rgb(23, 23, 78);
}